<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Summer_Internship_Backend</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>CorsFilter</filter-name>
    <filter-class>org.apache.catalina.filters.CorsFilter</filter-class>
    <init-param>
      <param-name>cors.allowed.origins</param-name>
      <param-value>http://localhost:3000</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>CorsFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>fetch_data</servlet-name>
    <servlet-class>com.highradius.fetch_data</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>fetch_data</servlet-name>
    <url-pattern>/fetch</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>add_data</servlet-name>
    <servlet-class>com.highradius.add_data</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>add_data</servlet-name>
    <url-pattern>/add</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>edit_data</servlet-name>
    <servlet-class>com.highradius.edit_data</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>edit_data</servlet-name>
    <url-pattern>/edit</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>delete_data</servlet-name>
    <servlet-class>com.highradius.delete_data</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>delete_data</servlet-name>
    <url-pattern>/delete</url-pattern>
  </servlet-mapping>
</web-app>